@import "../abstracts/_variables";
@import "../abstracts/_mixins";

.header {
  background-color: transparent;
  @include flexbox(row, center, space-between)
}
.section-header {
  position: relative;
  margin: 0 auto;
  height: calc(100vh - 160px);
  padding: 80px 160px;
  @include background-image('../../images/head/header.png');
  @include flexbox(column, unset, unset, 246px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
  }

  &::before {
    left: 100%;
    background: linear-gradient(to left, #2a2a2a, #2a2a2a);
  }

  &::after {
    right: 100%;
    background: linear-gradient(to right, #2a2a2a, #2a2a2a);
  }
}




.header-list {
  color: white;
  font-size: 20px;
  @include flexbox(row, center, flex-start, 77px)
}



.header-list__item {
  position: relative;  // Указываем, чтобы псевдоэлемент позиционировался относительно этого элемента
  cursor: pointer;

  &::after {
    content: "";  // Псевдоэлементы требуют свойство content, даже если оно пустое
    position: absolute;
    bottom: -12px;  // Позиционируем псевдоэлемент у нижней границы элемента .link
    left: 50%;  // Позиционируем начальную точку псевдоэлемента в центре элемента .link
    width: 0;  // Начальная ширина псевдоэлемента
    height: 2px;  // Высота линии
    background-color: $color-secondary-hover;  // Цвет линии
    transition: width 0.3s ease-out;  // Анимация изменения ширины
    transform: translateX(-50%);  // Центрирование псевдоэлемента по горизонтали
  }

  &:hover::after {
    width: 100%;  // При наведении ширина псевдоэлемента становится 100%, расширяясь от центра к краям
  }
}
