@import "../abstracts/_variables";
@import "../abstracts/_mixins";

.about {
  padding: 80px 0 80px 160px;
  @include flexbox(row);
  @include respond-to('medium') {
    @include flexbox(column);
    padding: 0;

  }
  @include respond-to('small') {
    @include flexbox(column);
    padding: 0;
  }
}
.about-left {
  width: 50%;

  @include flexbox(column, unset, unset, 31px);

  @include respond-to('medium') {
    width: 100%;
  }
  @include respond-to('small') {
    width: 100%;
  }
}

.about-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  @include respond-to('medium') {
    display: none;
  }
  @include respond-to('small') {
    display: none;
  }

}

.about-title {
  font-size: 35px;
  line-height: 62px;
  font-weight: bold;

  @include respond-to('medium') {
    padding: 37px 20px;
  }
  @include respond-to('small') {
    padding: 37px 20px;
  }

  span {
    color: $color-secondary-hover;
  }
}

.about-card-subtitle {
  font-weight: 700;


}


.about-p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;

  @include respond-to('medium') {
    padding: 37px 20px;
  }
  @include respond-to('small') {
    padding: 37px 20px;
  }
}

.about-card {
  ul {
    flex-wrap: wrap;
    @include flexbox(row, stretch, flex-start);
    @include respond-to('large') {
      @include flexbox(column, unset, unset);
    }
    @include respond-to('medium') {
      @include flexbox(column, unset, unset);
    }
    @include respond-to('small') {
      @include flexbox(column, unset, unset);
    }


    li {
      flex-wrap: wrap;
      width: calc(50% - 80px);  // учитывая отступы в 10px с каждой стороны
      padding: 40px 10px 40px 63px;  // порядок: верх, право, низ, лево
      background: white;
      @include flexbox(column, unset, unset, 19px);
      @include transition(all, 1s, ease-in-out);
      @include respond-to('large') {
        width: unset;
      }
      @include respond-to('medium') {
        width: unset;
      }
      @include respond-to('small') {
        width: unset;
        padding: 20px 20px;
      }

      cursor: pointer;

      h3 {
        color: $color-secondary-hover;
        font-size: 23px;
      }

      span {
        font-size: 20px;
        display: block;
      }

      .about-card-subtitle {
        font-size: 23px;
        margin-top: 0;
        display: block;
        line-height: 1.2;
      }

      &:hover {
        background: #2E2E2E;
        color: white;
      }
    }
  }
}
