@import "../abstracts/_variables";
@import "../abstracts/_mixins";

.content {
  color: $color-primary;
  font-family: $font-family;
}

.content-flex {
  @include flexbox(row, unset, space-between);

  @include respond-to('large') {
    @include flexbox(column, flex-start, center, 30px);

  }
  @include respond-to('medium') {
    @include flexbox(column, center, center, 30px);

  }
  @include respond-to('small') {
    @include flexbox(column, flex-start, center, 30px);

  }
}

.content-even {
  width: 50%;
  @include respond-to('large') {
    width: 100%;
  }
}

.content-title {
  font-size: 50px;
  font-weight: 600;

  @include respond-to('large') {
    font-size: 30px;

  }
  @include respond-to('medium') {
    font-size: 30px;
    letter-spacing: 10px;


  }
  @include respond-to('small') {
    font-size: 30px;
    letter-spacing: 7px;
    font-weight: 900;


  }
}

.content_subtitle {
  font-size: 20px
}

.content-even__custom {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 700px;
  line-height: 36px;
  margin-left: 70px;

  @include respond-to('large') {
    font-size: 30px;
    margin: 0;
  }
  @include respond-to('medium') {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;


  }
  @include respond-to('small') {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;

  }
}
