$font-family: 'Montserrat', sans-serif;
$color-primary: #FFFFFF;
$color-secondary: #8EB4EC;

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
