@import "../abstracts/_mixins";


.home-page {
  margin: 0 auto;
  max-width: 1920px;
  //height: 100vh;
  overflow: hidden;
  //overflow-x: hidden;
  //position: relative;
  @include flexbox(column, unset, unset, unset)
}

.scrollable {
  overflow-y: hidden ;
}


