@import 'abstracts/variables';
@import 'components/content';
@import 'components/contacs';
@import 'components/skills';
@import 'components/mui';
@import 'components/about';
@import 'components/swiper';
@import 'components/blog';
@import 'components/portfolio';
@import 'components/services';
@import 'components/scroll';
@import 'components/link';
@import 'abstracts/mixins';
@import 'base/reset';
@import 'base/typography';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/home';

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

::-webkit-scrollbar {
  display: none;
}
